/.vscode/*
node_modules
package-lock.json
/data/exported/*.class
/data/exported/*.java
/data/scanned/*.jpg
/data/scanned/*.png
/src/backend/Java/*.class
/src/backend/Java/user/*
!/src/backend/Java/user/placeholder.txt
